<input type="text" [(ngModel)]="itemType"> -->
<button (click)="getCurrentItemType()">Get Items</button>


<!-- <input type="select" [(ngModel)]="itemType"> -->


<!-- <form>
    <fieldset>
       <legend>Star Wars</legend>
       <p>
          <label>Select Item from list</label>
          <select [(ngModel)]="itemType" [ngModelOptions]="{standalone: true}">
            <option value = "planets">Planets</option>
            <option value = "people">People</option>
            <option value = "films">Films</option>
            <option value = "species">Species</option>
            <option value = "vehicles">Vehicles</option>
            <option value = "starships">Starships</option>
          </select>
       </p>
    </fieldset>
 </form> -->

<!-- <div [hidden]="hidePlanets"> -->
<div [hidden]="itemType !== 'planets'">
    <h2>All Planets</h2>

    <table class="table dark">
        <thead class="thead-dark">
            <th scope="col">Name</th>
        </thead>
        <tbody>
            <tr *ngFor="let planet of planets">
                <td>{{planet.name}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div [hidden]="itemType.toLowerCase() !== 'people'">
    <h2>All People</h2>
        
    <table class="table dark">
        <thead class="thead-dark">
            <th scope="col">Name</th>
        </thead>
        <tbody>
            <tr *ngFor="let person of people">
                <td>{{person.name}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div [hidden]="itemType.toLowerCase() !== 'films'">
    <h2>All Films</h2>

    <table class="table dark">
        <thead class="thead-dark">
            <th scope="col">Name</th>
        </thead>
        <tbody>
            <tr *ngFor="let film of films">
                <td>{{film.title}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div [hidden]="itemType.toLowerCase() !== 'species'">
    <h2>All Species</h2>

    <table class="table dark">
        <thead class="thead-dark">
            <th scope="col">Name</th>
        </thead>
        <tbody>
            <tr *ngFor="let specie of species">
                <td>{{specie.name}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div [hidden]="itemType.toLowerCase() !== 'vehicles'">
    <h2>All Vehicles</h2>

    <table class="table dark">
        <thead class="thead-dark">
            <th scope="col">Name</th>
        </thead>
        <tbody>
            <tr *ngFor="let vehicle of vehicles">
                <td>{{vehicle.name}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div [hidden]="itemType.toLowerCase() !== 'starships'">
    <h2>All Starships</h2>

    <table class="table dark">
        <thead class="thead-dark">
            <th scope="col">Name</th>
        </thead>
        <tbody>
            <tr *ngFor="let starship of starships">
                <td>{{starship.name}}</td>
            </tr>
        </tbody>
    </table>
</div>