<p>planets-table-form works!</p>

<label class="label">Choose Table</label>
<input type="text" placeholder="Table Name" [(ngModel)] = "tableName">
<button (click)="saveDepartment()">Save</button>
<p>Current Table Name: {{ tableName }}</p>
